#friends-display-names {
  display: block;
  text-align: center;
  background-color: rgb(255, 248, 240);
  padding: 10px 0px;
  color: gray;
  margin-bottom: 10px;
  margin-top: -15px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.2);
}

@keyframes hss {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    /* 마우스에 걸리지않게 숨긴다 */
  }
}

#splash-screen {
  background-color: #fae100;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hss 1s ease-in-out forwards;
  /* forward : 실행후 상태유지 */
  animation-delay: 1.5s;
  /* 애니메이션 딜레이 */
}
